<nav aria-label="Breadcrumb" class=" flex items-center py-6 bg-[#FDFDFD]">
  <ol class="flex items-center gap-1 text-sm text-gray-600 ml-[110px] mr-[110px]">
    <li>
      <a href="#" class="block transition hover:text-gray-700">
        <span class="sr-only"> Home </span>

        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
      </a>
    </li>

    <li class="rtl:rotate-180">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd" />
      </svg>
    </li>

    <li>
      <a href="#" class="block transition hover:text-gray-700"> Cart </a>
    </li>


  </ol>
</nav>
<section
  class="mb-12 relative z-10 after:contents-[''] after:absolute after:z-0 after:h-full xl:after:w-1/3 after:top-0 after:right-0 after:bg-gray-50 ml-[110px] mr-[110px]">
  <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto relative z-10">
    <div class="grid grid-cols-12">
      <div class="col-span-12 xl:col-span-8 lg:pr-8 pt-8 pb-8 lg:py-8 w-full max-xl:max-w-3xl max-xl:mx-auto">

        <div class="grid grid-cols-12 mt-[32.5px] max-md:hidden pb-2 border-b border-gray-200">
          <div class="col-span-12 md:col-span-7">
            <p class="font-normal text-lg leading-8 text-[#232323]">Product</p>
          </div>
          <div class="col-span-12 md:col-span-5">
            <div class="grid grid-cols-5">
              <div class="col-span-3">
                <p class="font-normal text-lg leading-8 text-[#232323] text-center">Quantity</p>
              </div>
              <div class="col-span-2">
                <p class="font-normal text-lg leading-8 text-[#232323] text-center">Total</p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="flex flex-col min-[500px]:flex-row min-[500px]:items-center gap-5 py-6  border-b border-gray-200 group">
          <div class="w-full md:max-w-[126px]">
            <img src="{{product.image}}" alt="perfume bottle image" class="mx-auto">
          </div>
          <div class="grid grid-cols-1 md:grid-cols-4 w-full">
            <div class="md:col-span-2">
              <div class="flex flex-col max-[500px]:items-center gap-3">
                <h6 class="font-semibold text-base leading-7 text-black">{{product.title}}</h6>
                <h6 class="font-normal text-base leading-7 text-gray-500">Perfumes</h6>
                <h6
                  class="font-medium text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-indigo-600">
                  ${{product.price}}</h6>
              </div>
            </div>
            <div class="flex items-center max-[500px]:justify-center h-full max-md:mt-3">
              <div class="flex items-center h-full">
                <button
                  class="group rounded-l-xl px-[6px] py-[3px] border border-gray-200 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:bg-gray-50 hover:border-gray-300 hover:shadow-gray-300 focus-within:outline-gray-300">
                  <svg class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
                    xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M16.5 11H5.5" stroke="" stroke-width="1.6" stroke-linecap="round" />
                    <path d="M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
                    <path d="M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
                  </svg>
                </button>
                <input type="text"
                  class="border-y border-gray-200 outline-none text-gray-900 font-semibold text-lg w-full max-w-[50px] min-w-[50px] placeholder:text-gray-900  text-center bg-transparent"
                  placeholder="2">
                <button
                  class="group rounded-r-xl px-[6px] py-[3px] border border-gray-200 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:bg-gray-50 hover:border-gray-300 hover:shadow-gray-300 focus-within:outline-gray-300">
                  <svg class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
                    xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-width="1.6" stroke-linecap="round" />
                    <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6"
                      stroke-linecap="round" />
                    <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6"
                      stroke-linecap="round" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="flex items-center max-[500px]:justify-center md:justify-end max-md:mt-3 h-full">
              <p
                class="font-bold text-lg leading-8 text-gray-600 text-center transition-all duration-300 group-hover:text-indigo-600">
                $120.00</p>
            </div>
          </div>
        </div>
        <!-- item 2 -->
        <div
          class="flex flex-col min-[500px]:flex-row min-[500px]:items-center gap-5 py-6  border-b border-gray-200 group">
          <div class="w-full md:max-w-[126px]">
            <img src="https://pagedone.io/asset/uploads/1701162866.png" alt="perfume bottle image" class="mx-auto">
          </div>
          <div class="grid grid-cols-1 md:grid-cols-4 w-full">
            <div class="md:col-span-2">
              <div class="flex flex-col max-[500px]:items-center gap-3">
                <h6 class="font-semibold text-base leading-7 text-black">Musk Rose Cooper</h6>
                <h6 class="font-normal text-base leading-7 text-gray-500">Perfumes</h6>
                <h6
                  class="font-medium text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-indigo-600">
                  $120.00</h6>
              </div>
            </div>
            <div class="flex items-center max-[500px]:justify-center h-full max-md:mt-3">
              <div class="flex items-center h-full">
                <button
                  class="group rounded-l-xl px-[6px] py-[3px] border border-gray-200 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:bg-gray-50 hover:border-gray-300 hover:shadow-gray-300 focus-within:outline-gray-300">
                  <svg class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
                    xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M16.5 11H5.5" stroke="" stroke-width="1.6" stroke-linecap="round" />
                    <path d="M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
                    <path d="M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
                  </svg>
                </button>
                <input type="text"
                  class="border-y border-gray-200 outline-none text-gray-900 font-semibold text-lg w-full max-w-[50px] min-w-[50px] placeholder:text-gray-900  text-center bg-transparent"
                  placeholder="2">
                <button
                  class="group rounded-r-xl px-[6px] py-[3px] border border-gray-200 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:bg-gray-50 hover:border-gray-300 hover:shadow-gray-300 focus-within:outline-gray-300">
                  <svg class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
                    xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-width="1.6" stroke-linecap="round" />
                    <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6"
                      stroke-linecap="round" />
                    <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6"
                      stroke-linecap="round" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="flex items-center max-[500px]:justify-center md:justify-end max-md:mt-3 h-full">
              <p
                class="font-bold text-lg leading-8 text-gray-600 text-center transition-all duration-300 group-hover:text-indigo-600">
                $240.00</p>
            </div>
          </div>
        </div>
        <div class="flex mt-8 justify-between">
          <button type="button"
            class="inline-block rounded-full border-2 border-[#EDA415] bg-[#EDA415] text-white border-primary px-8 pb-[18px] pt-4 text-xs font-medium  leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-accent-300 hover:bg-primary-50/50 hover:text-primary-accent-300 focus:border-primary-600 focus:bg-primary-50/50 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 motion-reduce:transition-none dark:text-primary-500 dark:hover:opacity-60"
            data-twe-ripple-init>
            <p class="text-[18.7px]"> Continue shopping</p>
          </button>
          <button type="button"
            class="inline-block rounded-full border-2 border-[#A9A9A9] text-[#797979] border-primary-100 px-8 pb-[18px] pt-4 text-xs font-medium  leading-normal text-primary-700 transition duration-150 ease-in-out hover:border-primary-accent-200 hover:bg-secondary-50/50 focus:border-primary-accent-200 focus:bg-secondary-50/50 focus:outline-none focus:ring-0 active:border-primary-accent-200 motion-reduce:transition-none dark:border-primary-400 dark:text-primary-300 dark:hover:opacity-60"
            data-twe-ripple-init>
            <p class="text-[18.7px]">Update cart</p>
          </button>
          <button type="button"
            class="inline-block rounded-full border-2 border-[#C33131] text-[#C33131] border-success px-8 pb-[18px] pt-4 text-xs font-medium  leading-normal text-success transition duration-150 ease-in-out hover:border-success-600 hover:bg-success-50/50 hover:text-success-600 focus:border-success-600 focus:bg-success-50/50 focus:text-success-600 focus:outline-none focus:ring-0 active:border-success-700 active:text-success-700 motion-reduce:transition-none dark:hover:opacity-60"
            data-twe-ripple-init>
            <p class="text-[18.7px]">Clear cart</p>
          </button>
        </div>
      </div>

      <!-- thanh toán -->
      <div class=" col-span-12 xl:col-span-4 bg-gray-50 w-full max-xl:px-6 max-w-3xl xl:max-w-lg mx-auto lg:pl-8 pt-8">
        <h2 class="font-manrope font-bold text-3xl leading-10 text-black pb-8 border-b border-gray-300 text-center">
          Cart total</h2>
        <div class="mt-8">
          <div class="flex items-center justify-between pb-6">
            <p class="font-normal text-lg leading-8 text-black">Subtotal</p>
            <p class="font-medium text-lg leading-8 text-black">$ 23,20</p>
          </div>
          <form>
            <div class="flex pb-6 border-b border-[#AFAFAF]">
              <div class="relative w-full">
                <input type="text" placeholder="Enter coupon code"
                  class="block relative w-full h-11 px-4   py-6 text-base font-normal shadow-xs text-[#232323] bg-white border border-[#DFDFDF] rounded-[20px] placeholder-[#232323] focus:outline-gray-400">
                <span class="absolute top-[50%] right-[14px] translate-y-[-50%]">Apply</span>
              </div>
            </div>
            <div class="flex pb-4 w-full pt-6">
              <div class="relative w-full ">
                <input type="text"
                  class="text-[#232323] pointer-events-none cursor-pointer block w-full h-11 pr-11 pl-5 py-6 text-base font-normal shadow-xs bg-white border border-[#DFDFDF] rounded-[20px] placeholder-[#232323] focus:outline-gray-400 "
                  placeholder="County">
                <button id="dropdown-button" data-target="dropdown"
                  class="dropdown-toggle flex-shrink-0 z-10 inline-flex items-center py-4 px-4 text-base font-medium text-center text-[#232323] bg-transparent  absolute right-0 top-0 pl-2 "
                  type="button"><svg class="ml-2 my-auto" width="12" height="7" viewBox="0 0 12 7" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1 1.5L4.58578 5.08578C5.25245 5.75245 5.58579 6.08579 6 6.08579C6.41421 6.08579 6.74755 5.75245 7.41421 5.08579L11 1.5"
                      stroke="#6B7280" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </button>
              </div>
            </div>

            <div class="flex items-center border-b border-gray-200">
            </div>
            <div class="flex items-center justify-between py-8">
              <p class="font-medium text-base leading-8 text-[#232323]">Total amount</p>
              <p class="font-semibold text-base leading-8 text-[#232323]">$485.00</p>
            </div>
            <button
              class="w-full text-center bg-[#EDA415] rounded-[20px] py-3 px-6 font-semibold text-lg text-white transition-all duration-500 hover:opacity-90">Proceed
              to ckeckout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>